__pycache__/
*.py[cod]
*$py.class
.Python
build/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.py,cover
.pytest_cache/
# Flask stuff:
instance/
.webassets-cache
# venv
.venv
.venv/
static/.DS_Store
.DS_Store
.env